
    <footer class="bg-transparent text-white py-3">
        <div class="container">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <!-- Social Links Column -->
            <div class="col-md-6 text-center">
                <!-- LinkedIn -->
                <a href="https://www.linkedin.com/in/ervindev" target="_blank">
                    <img src="images/linkedin.png" class="social-icons me-3" alt="linked-in">
                </a>
                <!-- Twitter -->
                <a href="https://twitter.com/ervin_dev"  target="_blank">
                    <img src="images/x.png" class="social-icons" alt="twitter">
                </a>
            </div>
            <!-- Copyright Column -->
            <div class="col-md-6 text-center pt-3 fw-lighter">
                <p class="mb-0">&copy; 2024 Gainz. All rights reserved.</p>
            </div>
        </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>  
    <!-- Font Awesome  -->
    <script src="https://kit.fontawesome.com/38adb5a98c.js" crossorigin="anonymous"></script>
</body>
</html>